*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient (135deg, #020617,#020617);
    background-color: #5e7bc5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 100px;
    box-shadow: 0 20px 40px rgba(11, 1, 54, 0.5);
    width: 400px;
}

#form{
    background: #0f172a;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

p{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 1px;
    border-radius: 10px;
    border: none;
    outline: none;
}

label{
    color: #cbd5f5;
    font-size: 14px;
}

button{
    width: 100%;
    height: 55px;
    margin-top: 15px;
    font-size: 18px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background: #1d4ed8;
}

.login{
    display: block;
    text-align: center;
    margin-top: 18px;
    color: #60a5fa;
    text-decoration: none;
    font-size: 14px;
}

.forget{
    display: block;
    text-align: right;
    margin-top: 1px;
    color: #60a5fa;
    text-decoration: none;
    font-size: 14px;
}